body {
    background-color: #fef;
}
section {
    margin: 20px 0;
}
.logo-container {
    border-radius: 100%;
    overflow: hidden;
    max-height: 50%;
    max-width: 60%;
    margin: auto;
    margin-top: 20px;
    z-index: 100;
    position: relative;
}.logo-container > img {
    height: 100%;
    width: 100%;
}

.background-img-portrait {
    position: absolute;
    z-index: 1;
    top: 0px;
    overflow: hidden;
    height: 240px;
}
.background-img-portrait > img {
    height: 120%;
}

.info-section {
    text-align: center;
    border-bottom: 2px solid grey;
    border-radius: 8px;
    width: 90%;
    margin: auto;
    transition: .4s background;
}.info-section > h2 {
    transition: .3s transform;
}
.info-section:active {
    background-color: #aaa;
}
.info-section:active > h2 {
    transform: scale(.8);
}

.info-container {
    background: #026;
    height: 250px;
    width: 90%;
    margin: auto;
    color: #fff;
}
.ul-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    grid-gap: 10px;
}
.li-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.icons {
    font-size: 45px;
    margin: 10px 0;
}
a {
    text-decoration: none;
    color: #fff
}